.search-container {
    width: 90%;
}

.search-form-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.search-form-group>* {
    margin: auto 5px;
    padding: 0;
}

.form-label {
    margin: auto;
}

.first-search-result {
    margin: 3.5vh auto 5vh auto;
}

.last-search-result {
    margin: 5vh auto auto auto;
}

@media screen and (min-width:800px) {
    .search-container {
        width: 65%;
    }
}