.search-container {
    width: 90%;
}

.search-form-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.search-form-group>* {
    margin: auto 5px;
    padding: 0;
}

.form-label {
    margin: auto;
}

.search-results-pages{
    margin-top: 1vh;
}

@media screen and (min-width:800px) {
    .search-container {
        width: 65%;
    }
}