.anime-show-info{
  color: rgb(154, 78, 161);
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

#load-show {
    text-align: center;
}

@media screen and (min-width:800px) {
    #anime-show {
        text-align: left;
    }

    ul li {
        list-style: disc;
    }

    img {
        margin: 0 0 2.5vh 0;
    }
}