.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

main{
  background-color: white;
  width: 70vw;
  max-width: 1000px;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 5px;
}