.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

main{
  padding: 1vw;
  background-color: white;
  width: 90vw;
  max-width: 1000px;
  flex-flow: column nowrap;
  border-radius: 5px;
  color: rgb(154, 78, 161);
  }

@media screen and (min-width:500px) {
  main{
    padding: 1.25vw;
    width: 70vw;
  }
}