.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

main{
  background-color: white;
  width: 90vw;
  max-width: 1000px;
  /* display: flex; */
  flex-flow: column nowrap;
  border-radius: 5px;
}

@media screen and (min-width:500px) {
  main{
    width: 70vw;
  }
}